* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: rgb(225, 237, 237);
}

/* HEADER */

.navbar>ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style-type: none;
    text-align: center;
    font-size: large;
    margin: 0%;
    padding: 0%;
    background-color: rgba(30, 42, 63, 0.548);
    overflow: hidden;
    position: sticky;
    top: 0%;
    width: 100%;
}

li {
    color: azure;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: 1px solid #bbb;
}

li:hover {
    background-color: #333;
}

/* MÃQUINAS*/

.vendingmachines {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    text-align: center;
    width: 100%;

}

.vendingmachines>div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex: 1 1;
    color: rgb(13, 52, 66);
    width: 100px;
    height: 200px;
    margin: 0% 0%;
    text-align: center;
    font-weight: 700;
    border: 0, 5px solid #5964c5;
}

.description1 {
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-composite: transparent;
}

.description2 {
    background: -webkit-linear-gradient(#eee, rgb(215, 222, 191));
    -webkit-background-composite: transparent;
}

figure img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

figure:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

/* PARTNERS*/

.flex-container {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    padding: 5px 5px 5px;
    width: 99%;
    background-color: rgba(30, 42, 63, 0.548);
}

.flex-container>div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1;
    color: whitesmoke;
    width: 100px;
    height: 200px;
    text-align: center;
    font-size: 30px;
    border: 0, 5px solid #5964c5;
}


/*FOOTER*/

.footer {
    position: fixed;
    left: 0%;
    bottom: 5px;
    width: 100%;
    height: 40px;
    background-color: #003a70;
    color: white;
    text-align: center;
 }

 @media only screen and (max-width: 600px) {
    body {
        background-color: yellow;
    }
 }

 @media only screen and (min-width: 600px) {
    body {
        background-color: #fffaf4;
    }
 }

 @media only screen and (min-width: 768px) {
    body {
        background-color: #f8efe7;
    }
 }

 @media only screen and (min-width: 992px) {
    body {
        background-color: rgb(225, 237, 237);
    }
 }
